$column-height: calc(100vh - 91px);
$standout-text-color: #ffc857;
$main-background-color: #929084;
$section-background-color: #a997df;
$header-background-color: #2e4052;
$small-card-background: #bdd9bf;
$border-color: #e5323b;

// #BDD9BF, #929084, #FFC857 #A997DF, #E5323B, #2E4052
