$column-height: calc(100vh - 91px);
$standout-text-color: complement(#e5323b);
$header-background-color: #0077bb;
$main-background-color: #bbbbbb;
$section-background-color: #33bbee;
$small-card-background: #fffffa;
$border-color: #ee7733;
$remaining-text-color: black;
