$column-height: calc(100vh - 91px);
$standout-text-color: complement(#e5323b);
$header-background-color: #0077bb;
$main-background-color: #bbbbbb;
$section-background-color: #33bbee;
$small-card-background: #fffffa;
$border-color: #ee7733;
$remaining-text-color: black;

// #BDD9BF, #929084, #FFC857 #A997DF, #E5323B, #2E4052, #0A284B
// #d55e00, #0072b2
