@import 'variables';
@import 'mixins';
@import 'user-card';
@import 'main-section';
@import 'right-side';

* {
  margin: 0;
}

body {
  font-family: 'Comic Sans';
  color: $remaining-text-color;
  background-color: $main-background-color;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0 auto;
  grid-template-areas:
    'left head right'
    'left main right';
}

header {
  grid-area: head;
  height: 70px;
  text-align: center;
  font-weight: 100;
  height: 71px;
  padding-top: 17px;
  color: $standout-text-color;
  border-bottom: 2px solid $standout-text-color;
  background-color: $header-background-color;
  border-radius: 0 0 8px 8px;
  h1 {
    height: inherit;
    vertical-align: bottom;
  }
}

li {
  list-style-type: none;
}
